bgColor = #002b36
lightBlue = #3b89f3
darkBlue = #344d70

.controls
  color white
  position absolute
  z-index 10
  background bgColor
  transform translateY(100%)
  transition all 0.5s ease
  bottom 0
  height 200px
  width 100%
  border-radius 10px 10px 0 0
  padding 30px

  &.active
    transform translateY(0)

.control-handle
  background bgColor
  position absolute
  width 50px
  height 30px
  right 10px
  margin-top -60px
  border-radius 10px 10px 0 0
  cursor pointer

  &:after
    content ''
    display block
    position absolute
    width 10px
    height 10px
    left 50%
    top 50%
    margin-left -5px
    margin-top -2px
    background bgColor
    border 1px solid lightBlue
    border-bottom none
    border-right none
    transform rotate(45deg)
    transition all 0.7s ease

    .controls.active &
      transform rotate(225deg)
      margin-top -5px

fieldset
  float left
  width calc(50% - 22px)
  border 1px solid darkBlue
  border-radius 3px

  &.leftcol
    margin-right 20px
    height 100%

  &.rightcol
    margin-left 20px

  .field
    margin 5px 0

  label
    width 50%
    display inline-block

  input[type="number"]
    max-width 45%
    background bgColor
    color white
    padding 5px
    border-radius 3px
    border 1px solid lightBlue

  input[type="color"]
    background bgColor
    border 1px solid lightBlue
    border-radius 3px

.actions
  float right
  margin-top 10px

button
  background lightBlue
  border-radius 10px
  border none
  padding 15px
  color white
  cursor pointer
  transition all 0.2s ease

  &:hover
    background darken(lightBlue, 30%)

  &:active, &:focus
    outline none

